html
  max-width: 1200px
  margin: 0 auto
  width: 100%
  height: 100%

header
  margin: 100px
  h1
    margin: 0 auto
    padding: 0 0 15px
    text-align: center
    border-bottom: solid 1px black

body
  font-family: 'Lora', serif
  background-color: #d1d1d1

  p
    margin: 0 auto
    text-align: center
    max-width: 970px

  div.wrap
    margin: 0 auto 100px
    display: flex
    flex-wrap: wrap
    justify-content: center

  div.img-contain
    padding: 0px
    width: 550px
    overflow: hidden

  div.item
    display: flex
    height: 100%
    width: 100%
    min-width: 0px
