* {
  --border-color: #a4a4a4;
  --min-margin: 1vh;
  --top-margin: 10vh;
}

html {
  margin: 0 auto;
}

body {
  /*   background: #2b5876;
  /* fallback for old browsers
  background: -webkit-linear-gradient(to right, #2b5876, #4e4376);
  /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #2b5876, #4e4376);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+

  */
  background-image: url('../img/bg-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 100vw;
}

h1 {
  margin: 0 auto;
}

div form {
  background: none;
  border: none;
  margin: 0 auto;
}

div #clockbox {
  font-size: 2rem;
}

.header {
  margin: 0 auto;
  position: relative;
  top: var(--top-margin);
  padding: 0 0 80px 0;
}

.search-container {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  top: var(--min-margin);
}

.input-search {
  max-width: 100%;
  width: 720px;
}

.links {
  position: relative;
  top: var(--min-margin);
  width: 50vw;
}

.link {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 80px 80px;
  height: 100px;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  transition: all 250ms ease-in-out;
  width: 100px;
}

a:hover {
  background-color: #1c6e8c;
  text-decoration: none;
}

a {
  border-radius: 8px;
  margin-top: 50px;
}

iframe {
  margin: 7% auto;
  width: 50vw;
}

/**************************
TILE LNKS
***************************/
.link-container {
  border: var(--border-color) 1px solid;
  border-radius: 8px;
  padding: 1em;
}

.gmail {
  background-image: url('../img/gmail.png');
}

.canvas {
  background-image: url('../img/canvas.png');
}

.soundcloud {
  background-image: url('../img/soundcloud.png');
}

.youtube {
  background-image: url('../img/youtube.png');
}

.p5 {
  background-image: url('../img/p5js.png');
  background-position: center;
}

.netflix {
  background-image: url('../img/netflix.png');
}

.twitter {
  background-image: url('../img/twitter.png');
}

.amazon {
  background-image: url('../img/amazon.png');
}

.twitch {
  background-image: url('../img/twitch.png');
}

.reddit {
  background-image: url('../img/reddit.png');
}

.instagram {
  background-image: url('../img/instagram.png');
}

.github {
  background-image: url('../img/github.png');
}

.dribble {
  background-image: url('../img/dribble.png');
}

.netlab {
  background-image: url('../img/netlab.png');
}

.hulu {
  background-image: url("../img/hulu.png");
}

@media only screen and (min-width: 240px) and (max-width:767px) {
  div #clockbox {
    font-size: 1rem;
  }

  .input-search {
    width: 210px;
  }

  .links {
    width: 90vw;
  }

  .link-container {
    padding: 0;
  }

  .link {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    height: 100px;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    transition: all 250ms ease-in-out;
    width: 100px;
  }
}
