:root {
  --main-color: #3c94cc;
  --red-color: #dca68e;
  --black-color: #22201c;
  --second-color: #E16832;
  --black-color: #242421;
  --grey-color: #988c76;
  --dark-olive: #5e3630;
  --instagram-color: #C32AA3;
  --soundcloud-color: #FF5500;
  --twitter-color: #00B6F1;
  --twitch-color: #6441A4;
  --off-white: #FDFDFD;
  --info-color:#00CAE3;
  --success-color:#55B559;
  --warning-color:#FF9E0F;
  --error-color:#F55145;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1{
  font-family: 'Raleway', serif;
  font-size: 50px;
}
h2{
  font-family: 'Raleway', serif;
  font-size: 46px;
}
h3{
  font-family: 'Raleway', serif;
  font-size: 38px;
}
h4{
  font-family: 'Raleway', serif;
  font-size: 22px;
}
h5{
  font-family: 'Raleway', serif;
  font-size: 18px;
}
p{
  font-family: 'Raleway', serif;
  font-size:16px;
}
p.small{
  font-family: 'Raleway', serif;
  font-size: 13px;
}
.musicSection{
  margin-top: 40px;
  margin-bottom: 40px;
}
body {
  width: 100%;
  margin: 0 auto;
  background-color: var(--black-color);
  background-image: linear-gradient(125deg, #184E68, #57CA85);
}

a p {
  color: white;
  transition: color 300ms;
  margin: 0;
  padding: 0;
}

a p:hover {
}

a {
  text-decoration: none;
}

div {
  background-color: var(--off-white);
}

section {
  padding: 40px 32px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.section-border {
  border-bottom: 1px grey solid;
}

.section-width {
  width: 60%;
}
.aboutStyle{
}

#headline {
  font-family: 'Oleo Script', cursive;
  text-align: left;
}

.links {
  text-align: left;
  font-size: 36px;
  margin: 0 auto;
  padding-bottom: 28px;
}

#current {
  color: var(--main-color);
  border-bottom: #2B2725 3px solid;
}

#final-section {
  border-bottom: none;
}

nav {
  align-items: center;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
}

.nav1 {
  background-color: var(--off-white);
  margin: 20px auto;
  height: 80px;
}

.nav-blur {
  -webkit-box-shadow: 0px 4px -20px -8px black;
  -moz-box-shadow: 0px 4px -20px -8px black;
  box-shadow: 0px 4px -20px -8px black;
}

ul {
  margin-left: -40px;
}

li {
  text-decoration: none;
  list-style: none;
  padding: 0px 8px;
  font-size: 24px;
  color: #E16832;
  transition: all ease 200ms;
}

li:hover {
  color: black;
  border-bottom: #2B2725 3px solid;
}

li:hover>#current {
  border-bottom: none;
}

h1 {
  color: var(--main-color);
  font-size: 32px;
  margin: 0;
}

h2 {
  color: white;
}

p {
  color: var(--black-color);
  padding-top: 20px;
  margin: 0;
}

.landing-page {
  height: 100%;
  background-image: url("img/bg.png");
  background-size: cover;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  overflow: auto;
  padding-left: 80px;
  margin: 0;
}

.landing-page h1 {
  text-shadow: 4px 4px white;
  font-size: 8rem;
  color: var(--main-color);
  padding: 0;
  margin: 0;
}

.centered {
  margin: 0 auto;
}

.main-blur {
  -webkit-box-shadow: 0px 10px 50px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 50px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 50px -5px rgba(0, 0, 0, 0.75);
}

.hero-width {
  width: 80%;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-item-space {
  justify-content: space-around;
}

.contact {
  flex-direction: column;
}

.contact h1 {
  color: var(--second-color);
}

.social-bar {
  margin-top: 1em;
  box-sizing: border-box;
  width: auto;
  height: 110px;
  border-radius: none;
  background: none;
  align-items: center;
}

.snapcode-popup {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 150px;
  height: 150px;
  background: url(https://github.com/lolimmlost/lolimmlost.github.io/blob/master/snapcode.png?raw=true) no-repeat center center;
  background-size: 128px;
  background-color: var(--main-color);
  border-radius: 20px;
  margin-top: -220px;
  margin-left: 305px;
  display: none;
  position: absolute;
  overflow: hidden;
}

.snap-container:hover>.snapcode-popup {
  opacity: 1;
  filter: alpha(opacity=100);
  display: block;
  animation: slide ease-in-out 500ms forwards;
}

.rounded-border {
  border-radius: .3em;
}

.sjsu-logo {
  width: 64px;
  height: 64px;
  margin-left: 430px;
  margin-top: 20px;
  position: absolute;
  background: url(https://raw.githubusercontent.com/lolimmlost/lolimmlost.github.io/master/img/sjsu.jpg) center;
  background-size: 64px 64px;
  display: none;
}

.html-logo {
  width: 64px;
  height: 64px;
  position: absolute;
  margin-left: 400px;
  margin-top: 20px;
  background: url(https://raw.githubusercontent.com/lolimmlost/lolimmlost.github.io/master/img/html5.svg) center;
  background-size: 64px 64px;
  display: none;
}

.css-logo {
  width: 64px;
  height: 64px;
  position: absolute;
  margin-left: 470px;
  margin-top: 20px;
  background: url(https://raw.githubusercontent.com/lolimmlost/lolimmlost.github.io/master/img/css3.svg) center;
  background-size: 64px 64px;
  display: none;
}

.soundcloudd {
  padding-bottom: 30px;
  flex-direction: column;
}

.soundcloudd h1 {
  padding-bottom: 18px;
}

.carousel {
  height: 630px;
}

.carousel-cell {
  height: 100%;
}

.carousel img {
  display: block;
  height: 600px;
}

.static-banner {
  position: absolute;
  background: hsla(0, 0%, 0%, 0.3);
  z-index: 1;
  padding: 4px 20px;
  font-family: 'Crete Round', sans-serif;
  color: var(--main-color);
  font-size: 26px;
  pointer-events: none;
}

.static-banner1 {
  left: 15px;
  top: 15px;
}

/* big buttons, no circle */

.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
}

.flickity-prev-next-button:hover {
  background: transparent;
}

/* arrow color */

.flickity-prev-next-button .arrow {
  fill: white;
}

.flickity-prev-next-button.no-svg {
  color: white;
}

/* hide disabled button */

.flickity-prev-next-button:disabled {
  display: none;
}

.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

.flickity-page-dots {
  bottom: 44px;
}

i {}

i.fa {
  font-size: 64px;
  line-height: 64px;
  text-align: center;
  padding: 20px;
  color: white;
  border-radius: 10%;
}

i.fa {
  color: var(--off-white);
  transition: color ease 300ms;
}

i.fa:hover {
  color: var(--second-color);
}

.flex-Hcenter {
  justify-content: center;
}

.flex-Vcenter {
  align-items: center;
}

.copy {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  75% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(-350px);
  }
}

@media only screen and (min-width: 300px) and (max-width: 319px) {
  .landing-page h1 {
    font-size: 3.8rem;
  }
  .landing-page{
    padding-top: 30px;
    padding-left: 40px;
  }
  a p {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 2.1em;
  }
  h4{
    font-size: 18px;
  }
  p {
    padding-top: 20px;
  }
.contact{
}
  .musicSection{
    padding-top: 0px;
  }
  .social-bar {
    width: 100%;
    height: 70px;
    background: none;
  }
  .section-width {
    width: 100%;
  }
  i.fa {
    font-size: 38px;
    line-height: 38px;
    margin: 7px;
    padding: 0;
    color: white;
    background: none;
  }
  .sjsu-logo {
    display: none;
  }
  .html-logo {
    display: none;
  }
  .css-logo {
    display: none;
  }
  .carousel {
    height: 320px;
  }
  .carousel img {
    display: block;
    height: 300px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .nav1 {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  section {
    padding-left: 20px;
    padding-right: 20px;

  }
  .landing-page h1 {
    font-size: 4.4rem;
    margin: 0;
  }
  .landing-page{
    padding-top: 30px;
    padding-left: 40px;
  }
  .section-width {
    width: 100%;
  }
  li {
    font-size: 16px;
  }
  .hero-width {
    width: 90%;
  }
  h1 {
    font-size: 2em;
  }
  p {
  }
  #links {
    padding-bottom: 8px;
    margin: 0;
    line-height: normal;
    font-size: 2.8rem;
  }
  .social-bar {
    width: 100%;
    height: 80px;
    background: none;
  }
  i.fa {
    font-size: 48px;
    line-height: 48px;
    margin: 7px;
    padding: 0;
    color: white;
    background: none;
  }
  .sjsu-logo {
    display: none;
  }
  .html-logo {
    display: none;
  }
  .css-logo {
    display: none;
  }
  .carousel {
    height: 320px;
  }
  .carousel img {
    display: block;
    height: 300px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  i.fa {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin: 20px 5px;
    color: white;
  }
  .section-width {
    width: 87%;
  }
  .social-bar {
    height: 100px;
  }
  .snapcode-popup {
    margin-top: -60px;
    margin-left: 330px;
    width: 72px;
    height: 72px;
    background-size: 64px;
  }
  .nav1 {}
  .hero-width {
    width: 90%;
  }
  h1 {
    font-size: 1.8em;
  }
  p {
  }
  #headline {
    font-size: 6rem;
    padding-top: 30px;
  }
  #links {
    margin-bottom: 20px;
  }
  .sjsu-logo {
    display: none;
  }
  .html-logo {
    display: none;
  }
  .css-logo {
    display: none;
  }
  .carousel {
    height: 420px;
  }
  .carousel img {
    display: block;
    height: 400px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-width {
    width: 80%;
  }
  .landing-page h1 {
    padding-top: 40px;
  }
  .landing-page a p {
    margin-bottom: 60px;
  }
  .sjsu-logo {
    display: block;
  }
  .html-logo {
    display: block;
  }
  .css-logo {
    display: block;
  }
  .carousel {
    height: 520px;
  }
  .carousel img {
    display: block;
    height: 500px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1999px) {
  .landing-page h1 {
    font-size: 8rem;
    padding-top: 50px;
    margin-bottom: 80px;
  }
  .landing-page a p {
    margin-bottom: 70px;
  }
  .sjsu-logo {
    display: block;
  }
  .html-logo {
    display: block;
  }
  .css-logo {
    display: block;
  }
}

/*
Experimental Font Sizing
*/
@media (min-width: 858px) {
        html {
            font-size: 12px;
        }
    }

    @media (min-width: 780px) {
        html {
            font-size: 11px;
        }
    }

    @media (min-width: 702px) {
        html {
            font-size: 10px;
        }
    }

    @media (min-width: 724px) {
        html {
            font-size: 9px;
        }
    }

    @media (max-width: 623px) {
        html {
            font-size: 8px;
        }
    }
