:root {
  --main-color: #3c94cc;
  --second-color: #246592;
  --black-color: #242421;
  --grey-color: #988c76;
  --dark-olive: #5e3630;
  --instagram-color: #C32AA3;
  --soundcloud-color: #FF5500;
  --twitter-color: #00B6F1;
  --twitch-color: #6441A4;
}

* {
  font-family: 'Roboto', sans-serif;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("assets/about-bg.jpeg");
  background-size: cover;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100vh;
}

div {
  background-color: black;
}

section {
  padding: 30px 60px;
}

section {
  padding: 0 80px 30px 60px;
}
.section-border{
  border-bottom: 1px grey solid;
}
nav {
  align-items: center;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
}

.nav1 {
  max-width: 100%;
  background-color: #FAFBF4;
  margin: 20px 0px;
  line-height: 1em;
}

.section-blur {
  -webkit-box-shadow: 0px 10px 50px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 50px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 50px -5px rgba(0, 0, 0, 0.75);
  width: 75%;
  background-color: #FAFBF4;
  margin: 20px 20px;
}

.nav-blur {
  -webkit-box-shadow: 0px 4px -20px -8px black;
  -moz-box-shadow: 0px 4px -20px -8px black;
  box-shadow: 0px 4px -20px -8px black;
}

ul {
  padding: 0;
  margin: 0;
  align-items: center;
}

li {
  text-decoration: none;
  list-style: none;
  margin: 0px 10px;
  padding-bottom: 2px;
  font-size: 20px;
  color: #E16832;
  transition: all ease 200ms;
  padding-left: -10px;
}

li:hover {
  color: black;
  border-bottom: #2B2725 3px solid;
}
li:hover > #current {
  border-bottom: none;
}

#current {
  color: var(--second-color);
  border-bottom: #2B2725 3px solid;
}

#final-section {
  border-bottom: none;
}

h1 {
  color: white;
  font-family: 'Poppins', Sans-Serif;
  padding: 20px 0px 16px 0px;
  margin: 0;
  color: lightblue;
  font-weight: lighter;
  letter-spacing: .2em;
  font-size: 2em;
}

h2 {
  color: white;
  padding: 0;
  margin: 0;
  font-family: 'Yeseva One', sans-serif;
}

p {
  font-size: 1em;
  color: white;
  padding: 0px 0px;
  margin: 0;
}

.hero {}

.hero-width {
  width: 90%;
}
.flex-column{
  flex-direction: column;
}
.contact {
  flex-direction: column;
}

.flex-container {
  display: flex;
}

.social-bar {
  background: none;
  margin-top: 1em;
  box-sizing: border-box;
  width: 100%;
  height: 110px;
  border-radius: none;
}

.snapcode-popup {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 150px;
  height: 150px;
  background: url(https://github.com/lolimmlost/lolimmlost.github.io/blob/master/snapcode.png?raw=true) no-repeat center center;
  background-size: 128px;
  background-color: #FAFBF4;
  border-radius: 10px;
  margin-top: -220px;
  margin-left: 305px;
  display: none;
  position: absolute;
  overflow: hidden;
}

.snap-container:hover > .snapcode-popup {
  opacity: 1;
  filter: alpha(opacity=100);
  display: block;
  animation: slide ease-in-out 500ms forwards;
}

.rounded-border {
  border-radius: .5em;
}

i {
  color: white;
  transition: color ease 300ms;
}

i:hover {
  color: #6AB7CD;
}

i.fa {
  font-size: 64px;
  line-height: 64px;
  text-align: center;
  margin: 25px 20px;
}

.flex-Hcenter {
  justify-content: center;
}

.flex-Vcenter {
  align-items: center;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  75% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(-350px);
  }
}
@media only screen and (min-width: 240px) and (max-width: 319px) {
  .hero-width{
    width:95%;
  }
  ul{
    padding: 10px 10px 10px 10px;
    margin:0;
  }
  li{
    font-size: 12px;
  }
  h1{
    font-size: 1.25em;
  }
  p{
    font-size: 1em;
    padding: 10px;
  }
  .social-bar{
    width: 100%;
  }
  i.fa{
    padding: 0;
    margin: 10px;
    font-size: 2.25em;
    line-height: 1em;
  }
  .snapcode{
  }
  .snapcode-popup{
    background-size: 64px;
    width: 74px;
    height: 74px;
    margin: -70px 330px 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .hero-width {
    width: 90%;
  }
  .nav1 {
    padding: 0;
  }
  ul {
    padding: 10px 10px;
  }
  li {
    padding: 0;
    margin: 5px;
    font-size: 12px;
    letter-spacing: 1px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  p {
    padding: 10px 0;
    font-size: 1em;
  }
  i.fa {
    font-size: 2.125em;
    line-height: 2.125em;
    padding: 10px 15px;
    margin: 0;
  }
  .social-bar {
    width: 70%;
  }
  .snapcode-popup {
    background-size: 72px;
    width: 78px;
    height: 78px;
    margin: -80px 330px 0px;
    padding: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .hero-width {
    width: 90%;
  }
  .nav1 {
    padding: 0;
  }
  ul {
    padding: 10px 10px;
  }
  li {
    padding: 0;
    margin: 5px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  p {
    padding: 10px 0;
    font-size: 1em;
  }
  i.fa {
    font-size: 2.5em;
    line-height: 2em;
    padding: 10px 15px;
    margin: 0;
  }
  .social-bar {
    width: 80%;
  }
  .snapcode-popup {
    background-size: 72px;
    width: 78px;
    height: 78px;
    margin: -80px 330px 0px;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-width {
    width: 90%;
  }
  .nav1 {
    padding: 0;
  }
  ul {
    padding: 10px 10px;
  }
  li {
    padding: 10px 5px;
    margin: 5px;
    font-size: 20px;
    letter-spacing: 1px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  p {
    padding: 10px 0;
    font-size: 1em;
  }
  i.fa {
    font-size: 3.5em;
    line-height: 2em;
    padding: 10px 15px;
    margin: 0;
  }
  .social-bar {
    width: 80%;
  }
  .snapcode-popup {
    background-size: 72px;
    width: 78px;
    height: 78px;
    margin: -100px 340px 0px;
    padding: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1999px) {
  .hero-width {
    width: 90%;
  }
  .nav1 {
    padding: 0;
  }
  ul {
    padding: 10px 10px;
  }
  li {
    padding: 10px 5px;
    margin: 5px;
    font-size: 20px;
    letter-spacing: 1px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  p {
    padding: 10px 0;
    font-size: 1em;
  }
  i.fa {
    font-size: 3.5em;
    line-height: 2em;
    padding: 10px 15px;
    margin: 0;
  }
  .social-bar {
    width: 80%;
  }
  .snapcode-popup {
    background-size: 72px;
    width: 78px;
    height: 78px;
    margin: -100px 340px 0px;
    padding: 0;
  }
}
