
*{
    margin: 0;
    padding: 0;

}

body {
    background-color: #889ECE;
}
.flex {
    display: flex;
    border: 1px solid green;
}
.column{
    flex-direction: column;
}
.align-center {
    align-items: flex-start;
}
.container{
    max-width: 50%;
    max-height: 50%;
}

.hero {
    margin: 15% 25%;
}
.main{
    padding: 0px 0 0 0;
    align-items: end;
}
.w-full{
    width: 100%;
}
input{

}
ul {
    text-decoration: none;
    list-style: none;
    line-height: .75em;
}
  .icon-container{
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2em;


  }
  li{
    font-size: small;
  }
@media not all and (min-width: 640px) {
    h1{
        font-size: medium;
    }
    h2{
        font-size: small;
    }
 }
@media not all and (min-width: 768px) {     
    h1{
        font-size: medium;
}
    h2{
        font-size: small;
    }
}
@media not all and (min-width: 1024px) { }
@media not all and (min-width: 1280px) { }
@media not all and (min-width: 1536px) { }