*{
  box-sizing:border-box;
  font-family: 'Lato', sans-serif;
}
body{
  display:flex;
  text-align:center;
  justify-content:center;
  flex-direction:column;
  height:97vh;
  background: url("https://s-media-cache-ak0.pinimg.com/originals/18/1b/d8/181bd85c76aab48e8e9be182bfc1365a.gif");
  background-size:cover;
  background-position: 60% 50%;
}
.main {
  font-size:30px;
  color:white;
  letter-spacing:8px;
}
span{
  word-wrap:break-word;
  white-space: normal;
  background-color:white;
  padding:5px 5px;
  letter-spacing:3px;
  line-height:35px;
}
#two{

}
.foot{
  margin:20px 0;
}

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
      body{
        background-position: 50% 50%;
      }
      .main{
        font-size:20px;
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
      .main{
        font-size:20px;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .main{
        font-size:30px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .main{
        font-size:35px;
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
    @media only screen and (min-width : 280px) {
      .main {
        font-size:15px;
      }
    } 