html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #111;
}

body {
  background-color: #fdfafa;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  background: url("https://static.pexels.com/photos/790226/pexels-photo-790226.jpeg");
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
h1 {
  font-size: 38px;
  line-height: 38px;
  padding: 0;
}
span {
  background-color: black;
  margin: 0;
  padding: 0 32px;
  margin-bottom: 10px;
}
.main-wrap {
  border: 1px dotted green;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  background: #fff;
}
input[type="text"] {
  height: 80px;
  border: none;
  border-bottom: 4px solid rgb(153, 204, 204);
  font-size: 18px;
}
input[type="submit"] {
  height: 80px;
  border: none;
  font-size: 18px;
  transition: opacity 400ms ease;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
.search-bar {
  margin: 0 auto;
  width: 240px;
  height: 100px;
  border: 4px rgb(153, 204, 204) solid;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  transition: all 400ms ease-in-out;
}
.bgButton {
  background: #000;
  width: 20px;
  height: 20px;
  border: 1px #fff solid;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 10px 10px;
}
.bgButton:hover {
  width: 25px;
  height: 25px;
  top: 5px;
  left: 5px;
  transition: all 300ms ease-in-out;
}
.backgroundWrap {
  display: flex;
  margin: 10px auto;
}
body.class1 {
  background: url(" https://lolimmlost.github.io/extras/StartPage/1.jpg ");
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

body.class2 {
  background: url("https://lolimmlost.github.io/extras/StartPage/2.jpg");
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

body.class3 {
  background: url("https://lolimmlost.github.io/extras/StartPage/3.jpg");
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
body.class4 {
  background: url("https://lolimmlost.github.io/extras/StartPage/4.jpg");
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
body.class5 {
  background: url("https://lolimmlost.github.io/extras/StartPage/5.jpg");
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
@media only screen and (min-width: 320px) and (max-width: 439px) {
  .search-bar {
    width: 300px;
  }
}
@media only screen and (min-width: 440px) and (max-width: 639px) {
  .search-bar {
    width: 400px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 739px) {
  .search-bar {
    width: 600px;
  }
}
@media only screen and (min-width: 740px) and (max-width: 840px) {
  .search-bar {
    width: 700px;
  }
}
@media only screen and (min-width: 841px) and (max-width: 2000px) {
  .search-bar {
    width: 800px;
  }
}
